[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "portfolio-website/themes/hugo-coder"]
	path = portfolio-website/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
