body {
    /* page width */
    margin: 0 auto;
    max-width: 50em;

    /* font */
    font-family: "Helvetica", "Arial", sans-serif;

    /* line spacing */
    line-height: 1.5;
    padding: 4em 1em;

    /* bring attention to title text  */
    color: #555;
}

h2 {
    /* line spacing */
    margin-top: 1em;
    padding-top: 1em;
}

h1, 
h2,
strong {
    color: #333;
}

footer {
    color: #999;
}

a {
    color: #e8591c;
}